<%if(success && success.length){ %>
<div
    class="alert alert-success alert-dismissible position-absolute fade show col-6 mt-3 bottom-0 end-0"
    role="alert"
>
    <%=success%>
    <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
    ></button>
</div>
<%}%> <%if(error && error.length){ %>
<div
    class="alert alert-danger alert-dismissible position-absolute fade show col-6 mt-3 bottom-0 end-0"
    role="alert"
>
    <%=error%>
    <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
    ></button>
</div>
<%}%>
